.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage-ai.db
mage_data/
secrets/
homework5/data
homework5/.ipynb_checkpoints
workshop2

homework6/green_tripdata_2019-10.csv.gz
homework6/.ipynb_checkpoints